/* Machine name */
.graphql-core-schema-field-table tr th:nth-child(2) {
  width: 25%;
}

/* Label  */
.graphql-core-schema-field-table tr th:nth-child(3) {
  width: 20%;
}

/* Type */
.graphql-core-schema-field-table tr th:nth-child(4) {
  width: 20%;
}

/* Description */
.graphql-core-schema-field-table tr th:nth-child(5) {
  width: 35%;
}

.graphql-core-schema-field-table caption {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.25em;
  font-weight: bold;
}
